body {
  background-color: pink;
  text-align: center;
  color: white;
  font-family: cursive; 
  
}


#myCanvas {
  background-image: url("https://pikwizard.com/pw/medium/f281f9f3461dee2a3334519696a28c10.jpg");
  background-size: 400px 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

